<p-panel header="Pipes Personalizados - Creado por {{'nosotros' | toggleCase}}" class="p-2">

  <p>Pipes Personalizados</p>


</p-panel>
<div class="card ">
  <p-toolbar class="">

    <div class="flex-auto flex flex-wrap">

      <div class="col-12 md:col-6 lg:col-3">
        <p-button label="ToggleCase" icon="pi pi-spin pi-cog"/>
      </div>

      <div class="col-12 md:col-6 lg:col-3">
        <p-button label="Por Nombre" icon="pi  pi-spin  pi-amazon" styleClass="p-button-danger"/>
      </div>

      <div class=" col-12 md:col-6 lg:col-3">
        <p-button label="Vuela" icon="pi pi-spin pi-wifi" styleClass="p-button-danger"/>
      </div>

      <div class=" col-12 md:col-6 lg:col-3">
        <p-button label="Por Color" icon="pi pi-spin pi-sort" styleClass="p-button-success"/>
      </div>

    </div>
  </p-toolbar>
</div>
